PORT=5500
PORT_BEN=5501
PRIVATE_KEY=
DEPLOYER_PRIVATE_KEY=

# Jwt
JWT_EXPIRATION_TIME=24h
JWT_EXPIRATION_LONG_TIME=180000

# OTP
OTP_DURATION_IN_SECS=300

# Redis
REDIS_HOST=localhost
REDIS_PORT=6666
REDIS_PASSWORD=rahat123

# Postgres environment variables
DB_HOST=localhost
DB_PORT=5555
DB_USERNAME=rahat
DB_PASSWORD=rahat123
DB_NAME=rahat-platform-nx

VERIFICATION_URL=http://localhost:3232/id/

# Prisma database connection
DATABASE_URL=postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public

# Blockchain environment variables
NETWORK_PROVIDER=http://127.0.0.1:8888
CHAIN_NAME='localhost'
CHAIN_ID=8888
CURRENCY_NAME='ETH'
CURRENCY_SYMBOL='ETH'

SUBGRAPH_URL=http://localhost:8000/subgraphs/name/rahat/core
FRONTEND_URL=http://localhost:5500
MESSAGE_SENDER_API=http://localhost:5000/api/v1/send-message

RAHAT_ADMIN_PRIVATE_KEY=
ERC2771_FORWARDER_ADDRESS=
FRONTEND_URL=http://localhost:3000
