# See http://help.github.com/ignore-files/ for more about ignoring files.
# rumsan
.env
.env.*
!.env.example
!.env.setup.example
play
.npmrc

# compiled output
dist
tmp
/out-tsc
/tools/dev-tools/data
/tools/config

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/apps/contracts/artifacts
/tools/scripts/local-setup/web3_setup/deployments
config/

# System Files
.DS_Store
Thumbs.db

.nx/cache

# Local
docker-compose.yaml
combine.log
error.log

accounts.json

# hardhat
cache
typechain-types

# bruno-testcase
temp

node_modules
.env

# Hardhat files
/cache
/libs/contracts/artifacts
/build
# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

