<html>

  <body style='font-family:Poppins,Helvetica,Arial,sans-serif;'>
    <p>Hi {{name}},</p>
    <br />
    <p>Link for the wallet verification: <a>{{encryptedData}}</a><b></b></p>
  </body>

</html>