<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wallet Verification</title>
</head>

<body>
  <div class="container">
    <p>Hi {{name}},</p>
    <p>Click the following link to verify your wallet:</p>
    <p><a href="{{encryptedData}}">{{encryptedData}}</a></p>
  </div>
</body>

</html>